.services {
	padding-top: 85px;
	text-align: center;
}

.serv-list__item {
	text-align: center;
}

.services__list {
	width: 1200px;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	margin-bottom: 85px;
}

.serv-list__img {
	margin-bottom: 25px;
}

.serv-list__title {
	height: 11px;
	color: #3f4244;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 45px;
	text-transform: uppercase;
}

.serv-list__text {
	width: 234px;
	height: 44px;
	color: #929ba0;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 400;
}

.services__button {
	display: inline-block; 
	width: 250px;
	height: 70px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 10px;
	text-align: center;
	line-height: 70px;
	margin: 0 auto;
	margin-bottom: 80px;
	background-image: linear-gradient(to bottom, #ff6c54 1%, #ff2b59 99%);
}